.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
}

ul {
    list-style-type: none;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}